force-app/main/default/flows/Create_property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>geocode_address</name>
        <label>Geocode Address</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>property_details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>property_address.city</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>property_address.country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>property_address.postalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>property_address.province</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>property_address.street</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>If_content_document_found</name>
        <label>If Content Document found</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>navigate_to_record_detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Document_Link_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >get_main_content_document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_main_content_version</targetReference>
            </connector>
            <label>Content Document Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_content_version_found</name>
        <label>If Content Version found</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>navigate_to_record_detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>picture_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >get_main_content_version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_main_picture</targetReference>
            </connector>
            <label>Picture Found</label>
        </rules>
    </decisions>
    <description
    >This flow helps agents creating new properties in just a few clicks. It calculates the geocoded address calling out to a 3rd party service.</description>
    <formulas>
        <description
        >Main picture URL that we&apos;ll use as thumbnail</description>
        <name>main_picture_url</name>
        <dataType>String</dataType>
        <expression
        >&quot;/sfc/servlet.shepherd/version/download/&quot; + {!get_main_content_version.Id}</expression>
    </formulas>
    <interviewLabel>Create Property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Property</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_property</name>
        <label>Create Property</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>upload_picture</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_creating_records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>property_address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baths__c</field>
            <value>
                <elementReference>number_of_baths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beds__c</field>
            <value>
                <elementReference>number_of_beds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>property_broker.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>property_address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Listed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>property_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Latitude__s</field>
            <value>
                <elementReference>geocode_address.lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Longitude__s</field>
            <value>
                <elementReference>geocode_address.lon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>property_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>property_price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>property_address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tags__c</field>
            <value>
                <elementReference>property_tags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>property_address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description
        >Retrieve just one of the pictures to be the main one</description>
        <name>get_main_content_document</name>
        <label>Get Main Content Document</label>
        <locationX>666</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_content_document_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_property</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_main_content_version</name>
        <label>Get Main Content Version</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_content_version_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
                >get_main_content_document.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>set_main_picture</name>
        <label>Set Property Main Picture &amp; Thumbnail</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>navigate_to_record_detail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error4</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_property</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Picture__c</field>
            <value>
                <elementReference>main_picture_url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thumbnail__c</field>
            <value>
                <elementReference>main_picture_url</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordUpdates>
    <screens>
        <name>address</name>
        <label>Address</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>geocode_address</targetReference>
        </connector>
        <fields>
            <name>property_address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn
            >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error2</name>
        <label>Error</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error2_text</name>
            <fieldText
            >&lt;p&gt;Unknown error retrieving uploaded picture.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error3</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error3_text</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unknown error retrieving uploaded picture.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error4</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error4_text</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unknown error setting picture as Property thumbnail.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error5</name>
        <label>Error</label>
        <locationX>1722</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error5_text</name>
            <fieldText
            >&lt;p&gt;Error retrieving geocoded address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_creating_records</name>
        <label>Error</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText
            >&lt;p&gt;Error creating records. Try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>navigate_to_record_detail</name>
        <label>Navigate to Record</label>
        <locationX>666</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigate_to_record_lwc</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>create_property</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
            >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>new_property</name>
        <label>New Property</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>address</targetReference>
        </connector>
        <fields>
            <name>property_name</name>
            <dataType>String</dataType>
            <fieldText>Property Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>property_description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>property_broker</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Broker__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Broker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Property__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
            >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>property_price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100000.0</numberValue>
            </defaultValue>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>property_details</name>
        <label>Property Details</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_property</targetReference>
        </connector>
        <fields>
            <name>number_of_beds</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>4.0</numberValue>
            </defaultValue>
            <fieldText>Number of Bedrooms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>number_of_baths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Number of Bathrooms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>property_tags</name>
            <dataType>String</dataType>
            <fieldText>Tags</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>upload_picture</name>
        <label>Upload Picture</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_main_content_document</targetReference>
        </connector>
        <fields>
            <name>property_picture</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Picture</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.gif</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>create_property</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
            >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_property</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
